<div class="page-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <h4>Reserved List</h4>
      <!-- <h6>Manage Your Users</h6> -->
      <p-toast></p-toast>
      <!-- <button type="button" class="btn btn-primary btn-wave" id="liveToastBtn" pButton pRipple
        (click)="show()" label="Show">Show live
        toast</button>  -->
    </div>
  </div>
  <!-- <ul class="table-top-head">
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
        src="assets/img/icons/pdf.svg" alt="img"></a>
      </li>
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
        src="assets/img/icons/excel.svg" alt="img"></a>
      </li>
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Print" matTooltipPosition="above"><i
        class="feather icon-printer feather-rotate-ccw"></i></a>
      </li>
      <li>
        <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above" (click)="getUserDetails()"><i
        class="feather icon-rotate-ccw feather-rotate-ccw"></i></a>
      </li>
      <li>
        <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Collapse"
          matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
          <i class="feather icon-chevron-up feather-chevron-up"></i>
        }
        @if (isCollapsed) {
          <i class="feather icon-chevron-down feather-chevron-down"></i>
        }</a>
      </li>
    </ul> -->
  <div class="page-btn">
    <!-- <a [routerLink] = "routes.addusers" class="btn btn-added"><i class="feather icon-plus-circle me-2"></i>Add New User</a>  -->
  </div>
</div>

<!-- /product list -->
<div class="card table-list-card">
  <div class="card-body">
    <div class="table-top">
      <div class="search-set">
        <div class="search-input">
          <a href="javascript:void(0);" class="btn btn-searchset"
            ><i class="feather icon-search feather-search"></i
          ></a>
          <div class="dataTables_filter">
            <label>
              <input
                [(ngModel)]="searchDataValue"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="searchData(searchDataValue)"
                type="search"
                class="form-control"
                placeholder="Search..."
              />
            </label>
          </div>
        </div>
      </div>
      <div class="search-path">
        <div class="d-flex align-items-center">
          <a
            class="btn btn-filter"
            id="filter_search"
            (click)="openFilter()"
            [ngClass]="{ setclose: filter === true }"
          >
            <i class="feather icon-filter filter-icon"></i>
            <span><img src="assets/img/icons/closes.svg" alt="img" /></span>
          </a>
        </div>
      </div>
      <div class="form-sort">
        <i class="feather icon-sliders info-img"></i>
        <!-- <mat-select [(ngModel)]="selectedValue2" [ngModelOptions]="{standalone: true}" class="space-select select"
              placeholder="Sort by Date">
              <mat-option value="Sort by Date">Sort by Date</mat-option>
              <mat-option value="Newest">Newest</mat-option>
              <mat-option value="Oldest">Oldest</mat-option>
            </mat-select> -->
      </div>
    </div>
    <!-- /Filter -->
    <div
      class="card"
      id="filter_inputs"
      [ngClass]="{ 'd-block': filter, 'd-none': !filter }"
    >
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12">
            <label class="form-label requiredField">Select Agent</label>
            <mat-select
              name="permissions"
              class="select"
              placeholder="Select Agent"
              (selectionChange)="onAgentSelectionChange($event.value)"
            >
              @for (dropDownUser of userForDropDown; track dropDownUser) {
              <mat-option [value]="dropDownUser.loginId">
                {{ dropDownUser.firstName + " " + dropDownUser.lastName }}
              </mat-option>
              }
            </mat-select>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="input-blocks">
              <!-- <i class="feather icon-user info-img"></i> -->
              <!-- <mat-select [(ngModel)]="selectedValue3" [ngModelOptions]="{standalone: true}" class="space-select select"
                  placeholder="Choose Name">
                  <mat-option value="Choose Name">Choose Name</mat-option>
                  <mat-option value="Lilly">Lilly</mat-option>
                  <mat-option value="Benjamin">Benjamin</mat-option>
                </mat-select> -->
              <label class="form-label requiredField">First Date</label>
              <!-- <p>{{ reservedDetails.pickUpDateTime || '-' }}</p> -->
              <input
                type="date"
                class="form-control"
                [(ngModel)]="firstDate"
                name="firstDate"
                id="firstDate"
                #firstDate="ngModel"
                (change)="setFilterDate($event, 'first')"
                required
              />
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="input-blocks">
              <label class="form-label requiredField">Last Date</label>
              <input
                type="date"
                class="form-control"
                [(ngModel)]="lastDate"
                name="lastDate"
                id="lastDate"
                #lastDate="ngModel"
                (change)="setFilterDate($event, 'last')"
                required
              />
              <!-- <i class="feather icon-stop-circle info-img"></i> -->
              <!-- <mat-select [(ngModel)]="selectedValue4" [ngModelOptions]="{standalone: true}" class="space-select select"
                  placeholder="Select User Role" (selectionChange)="onRoleTypeChange($event)">
                  <mat-option value="ALL">ALL</mat-option>
                  <mat-option *ngFor="let data of roleTypes" [value]="data.name">
                    {{ data.name }}
                  </mat-option>
                </mat-select> -->

              <!-- <mat-select name="gender" [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Choose Status" (selectionChange)="onGenderChange($event)">
                  <mat-option *ngFor="let data of genderType" [value]="data.name">
                    {{ data.name }}
                  </mat-option>
                </mat-select> -->
            </div>
          </div>
          <!-- <div class="col-lg-3 col-sm-6 col-12">
              <div class="input-blocks">
                <i class="feather icon-zap info-img"></i>
                <mat-select [(ngModel)]="selectedValue5" [ngModelOptions]="{standalone: true}" class="space-select select"
                  placeholder="Choose Role">
                  <mat-option value="Choose Role">Choose Role</mat-option>
                  <mat-option value="Store Keeper">Store Keeper</mat-option>
                  <mat-option value="Salesman">Salesman</mat-option>
                </mat-select>
              </div>
            </div> -->
          <div
            class="d-flex justify-content-center align-items-end col-lg-3 col-sm-6 col-12"
          >
            <div class="input-blocks">
              <a (click)="filterByDate()" class="btn btn-filters ms-auto">
                <i class="feather icon-search feather-search"></i> Search
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Filter -->
    <div class="table-responsive">
      <table matSort (matSortChange)="sortData($event)" class="table datanew">
        <thead>
          <tr>
            <th></th>
            <th mat-sort-header="userName">Sub Category</th>
            <th mat-sort-header="loginId">Customer Name</th>
            <th mat-sort-header="phone">Mobile</th>
            <th mat-sort-header="role">Agent Name</th>
            <th mat-sort-header="createdOn">Created On</th>
            <th mat-sort-header="status">Status</th>
            <th class="no-sort">Action</th>
          </tr>
        </thead>
        <tbody>
          @for (data of tableData; track data; let idx=$index) {
          <tr>
            <td>
              <!-- <div class="userimgname">
                      <a href="javascript:void(0);" class="userslist-img bg-img">
                        <img src= "{{data.userPicture}}" alt="user image" style="border-radius: 50%;"></a>
                    </div> -->
            </td>
            <td>{{ data.subCategory }}</td>
            <td>{{ data.customerName }}</td>
            <td>{{ data.mobile }}</td>
            <td>{{ data.createdBy }}</td>
            <td>{{ data.createdAt | date : "dd-MM-yyyy | HH:mm" }}</td>
            <td>{{ data.status }}</td>
            <!-- <td><button class="badge-button" 
                  [ngClass]="{'badge-linesuccess': data.status === 'ACTIVE', 'badge-linedanger': data.status === 'INACTIVE'}"
                  (click)="changeUserStatus(data)">
            {{data.status}}
          </button></td>  -->
            <td class="action-table-data">
              <!-- <div class="edit-delete-action">
                  <a class="me-2 p-2 mb-0" href="javascript:void(0);"><i class="feather icon-eye action-eye"></i> </a>
                  <a class="me-2 p-2 mb-0" data-bs-toggle="modal" data-bs-target="#edit-units" (click)="openEditModal(data)"> <i class="feather icon-edit feather-edit"></i></a>
                  <a class="me-2 confirm-text p-2 mb-0" href="javascript:void(0);" (click)=confirmColor()> <i class="feather icon-trash-2 feather-trash-2"></i></a>
                </div> -->
              <div class="edit-delete-action">
                <!-- <a class="me-2 p-2 mb-0" href="javascript:void(0);"><i class="feather icon-eye action-eye"></i> </a> -->
                <a
                  class="me-2 p-2 mb-0 position-relative"
                  data-bs-toggle="modal"
                  data-bs-target="#view-units"
                  (click)="
                    openEditModal(viewReservedDialogTemplate, data, false)
                  "
                >
                  <i class="feather icon-info feather-info"></i
                  ><span class="tooltipText">View</span></a
                >
                <a
                  class="me-2 p-2 mb-0 position-relative"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-units"
                  (click)="
                    openEditModal(viewReservedDialogTemplate, data, true)
                  "
                >
                  <i class="feather icon-edit feather-edit textBlack"></i>
                  <span class="tooltipText">Edit</span>
                </a>
                @if(data?.isDataCopied) {
                <a
                  class="me-2 p-2 mb-0 position-relative"
                  data-bs-toggle="modal"
                  data-bs-target="#copy-units"
                >
                  <i class="feather icon-check feather-check"></i>
                  <span class="tooltipText">Copied!</span>
                </a>
                } @else {
                <a
                  class="me-2 p-2 mb-0 position-relative"
                  data-bs-toggle="modal"
                  data-bs-target="#copy-units"
                  (click)="copyData(data, idx)"
                >
                  <i class="feather icon-copy feather-copy"></i>
                  <span class="tooltipText">Copy</span>
                </a>
                }
                <!-- <a class="me-2 confirm-text p-2 mb-0" href="javascript:void(0);" (click)=confirmColor()> <i class="feather icon-trash-2 feather-trash-2"></i></a> -->
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <app-custom-pagination></app-custom-pagination>
  </div>
</div>

<ng-template #viewReservedDialogTemplate let-dialog>
  <div class="modalHeaderContainer">
    <h2 mat-dialog-title class="p-0">
      {{ isEditForm ? "Edit Reserved Details" : "View Reserved Details" }}
    </h2>
    <div mat-dialog-close class="closeBtn">
      <button
        type="button"
        class="close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <form #reservedForm="ngForm">
    <mat-dialog-content class="modalContent">
      <div class="modal-body custom-modal-body">
        <div class="card">
          <div class="card-body">
            <div class="new-employee-field">
              <table class="center-table">
                <!-- <tr>
                                <td>
                                    <input [readonly]="!isEditForm" class="form-check-input" type="radio" name="companyName" [(ngModel)]="reservedDetails.companyName" value="Vehicle" id="companyName1" checked>
                                    <label class="form-check-label" for="companyName1">
                                         Goa
                                    </label>
                                </td>
                                <td>
                                    <input [readonly]="!isEditForm" class="form-check-input" type="radio" name="companyName" [(ngModel)]="reservedDetails.companyName" value="Other" id="companyName2">
                                    <label class="form-check-label" for="companyName2">
                                         Other
                                    </label>
                                </td>
                            </tr> -->

                <tr></tr>
              </table>

              <br />

              <div class="row">
                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label requiredField"
                      >Category Type</label
                    >
                    <mat-select
                      [(ngModel)]="reservedDetails.categoryType"
                      class="select"
                      name="categoryType"
                      placeholder="Select Category Type"
                      (selectionChange)="getSuperCategory($event.value)"
                      required
                      #categoryType="ngModel"
                    >
                      <app-mat-select-search
                        (filteredList)="setFilterList($event, 'categoryType')"
                        [originalList]="categoryTypeList"
                        [categoryName]="'categoryTypeName'"
                      ></app-mat-select-search>
                      <mat-option
                        *ngFor="let cateType of filteredCategoryTypeList"
                        [value]="cateType"
                      >
                        {{ cateType.categoryTypeName }}
                      </mat-option>
                    </mat-select>
                    @if(categoryType?.errors?.['required'] &&
                    categoryType?.touched) {
                    <div class="errorMessage">Category Type is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label requiredField"
                      >Super Category</label
                    >
                    <mat-select
                      [(ngModel)]="reservedDetails.superCategory"
                      class="select custom-mat-select"
                      name="superCategory"
                      placeholder="Select a Super Category"
                      (selectionChange)="getCategory($event.value)"
                      required
                      #superCategory="ngModel"
                    >
                      <app-mat-select-search
                        (filteredList)="setFilterList($event, 'superCategory')"
                        [originalList]="superCategoryList"
                        [categoryName]="'superCategory'"
                      ></app-mat-select-search>
                      <mat-option
                        *ngFor="let supCate of filteredSuperCategoryList"
                        [value]="supCate"
                      >
                        {{ supCate.superCategory }}
                      </mat-option>
                    </mat-select>
                    @if(superCategory?.errors?.['required'] &&
                    superCategory?.touched) {
                    <div class="errorMessage">Super Category is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label requiredField">Category</label>
                    <mat-select
                      [(ngModel)]="reservedDetails.category"
                      class="select custom-mat-select"
                      name="category"
                      placeholder="Select a Category"
                      (selectionChange)="getSubCategory($event.value)"
                      required
                      #category="ngModel"
                    >
                      <app-mat-select-search
                        (filteredList)="setFilterList($event, 'category')"
                        [originalList]="categoryList"
                        [categoryName]="'category'"
                      ></app-mat-select-search>
                      <mat-option
                        *ngFor="let cate of filteredCategoryList"
                        [value]="cate"
                      >
                        {{ cate.category }}
                      </mat-option>
                    </mat-select>
                    @if(category?.errors?.['required'] && category?.touched) {
                    <div class="errorMessage">Category is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-3 col-md-6">
                  <div class="mb-3">
                    <label class="form-label requiredField">Sub Category</label>
                    <mat-select
                      [(ngModel)]="reservedDetails.subCategory"
                      class="select custom-mat-select"
                      name="subCategory"
                      placeholder="Select a Sub Category"
                      required
                      #subCategory="ngModel"
                    >
                      <app-mat-select-search
                        (filteredList)="setFilterList($event, 'subCategory')"
                        [originalList]="subCategoryList"
                        [categoryName]="'subCategory'"
                      ></app-mat-select-search>
                      <mat-option
                        *ngFor="let subCate of filteredSubCategoryList"
                        [value]="subCate"
                      >
                        {{ subCate.subCategory }}
                      </mat-option>
                    </mat-select>
                    @if(subCategory?.errors?.['required'] &&
                    subCategory?.touched) {
                    <div class="errorMessage">Sub Category is required</div>
                    }
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Pickup Date & Time</label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="datetime-local"
                      class="form-control"
                      name="pickUpDateTime"
                      [(ngModel)]="reservedDetails.pickUpDateTime"
                      required
                      #pickUpDateTime="ngModel"
                    />
                    @if(pickUpDateTime?.errors?.['required'] &&
                    pickUpDateTime?.touched) {
                    <div class="errorMessage">
                      Pickup Date & Time is required
                    </div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Pickup Location</label
                    >
                    <!-- <input [readonly]="!isEditForm" type="text" class="form-control" name="pickUpLocation" [(ngModel)]="reservedDetails.pickUpLocation" required #pickUpLocation="ngModel" />
                    @if(pickUpLocation?.errors?.['required'] &&
                    pickUpLocation?.touched) {
                    <div class="errorMessage">Pickup Location is required</div>
                    } -->
                    <mat-select
                      [(ngModel)]="reservedDetails.pickUpLocation"
                      class="select custom-mat-select"
                      name="pickUpLocation"
                      placeholder="Select Pickup Location"
                      required
                      #superCategory="ngModel"
                    >
                      <app-mat-select-search
                        (filteredList)="setFilterList($event, 'pickLocation')"
                        [originalList]="pickLocationList"
                        [categoryName]="'pickLocation'"
                      ></app-mat-select-search>
                      <mat-option
                        *ngFor="let pickList of filteredPickLocationList"
                        [value]="pickList"
                      >
                        {{ pickList.location }}
                      </mat-option>
                    </mat-select>
                    @if(pickUpLocation?.errors?.['required'] &&
                    pickUpLocation?.touched) {
                    <div class="errorMessage">Pickup Location is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Pickup Point</label>
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control"
                      name="pickupPoint"
                      [(ngModel)]="reservedDetails.pickupPoint"
                      required
                      #pickUpLocation="ngModel"
                    />
                    @if(pickUpLocation?.errors?.['required'] &&
                    pickUpLocation?.touched) {
                    <div class="errorMessage">Pickup Point is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Drop Date & Time</label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="datetime-local"
                      class="form-control"
                      name="dropDateTime"
                      [(ngModel)]="reservedDetails.dropDateTime"
                      required
                      #dropDateTime="ngModel"
                    />
                    @if(dropDateTime?.errors?.['required'] &&
                    dropDateTime?.touched) {
                    <div class="errorMessage">Drop Date & Time is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Drop Location</label
                    >
                    <!-- <input [readonly]="!isEditForm" type="text" class="form-control" name="dropLocation" [(ngModel)]="reservedDetails.dropLocation" required
                      #dropLocation="ngModel" />
                    @if(dropLocation?.errors?.['required'] && dropLocation?.touched)
                    {
                    <div class="errorMessage">Drop Location is required</div>
                    } -->
                    <mat-select
                      [(ngModel)]="reservedDetails.dropLocation"
                      class="select custom-mat-select"
                      name="dropLocation"
                      placeholder="Select a Drop Location"
                      required
                      #superCategory="ngModel"
                    >
                      <app-mat-select-search
                        (filteredList)="setFilterList($event, 'dropLocation')"
                        [originalList]="dropLocationList"
                        [categoryName]="'dropLocation'"
                      ></app-mat-select-search>
                      <mat-option
                        *ngFor="let dropList of filteredDropLocationList"
                        [value]="dropList"
                      >
                        {{ dropList.location }}
                      </mat-option>
                    </mat-select>
                    @if(dropLocation?.errors?.['required'] &&
                    dropLocation?.touched) {
                    <div class="errorMessage">Drop Location is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Drop Point</label>
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control"
                      name="dropPoint"
                      [(ngModel)]="reservedDetails.dropPoint"
                      required
                      #dropLocation="ngModel"
                    />
                    @if(dropLocation?.errors?.['required'] &&
                    dropLocation?.touched) {
                    <div class="errorMessage">Drop Location is required</div>
                    }
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Total Days</label>
                    <input
                      [readonly]="!isEditForm"
                      type="number"
                      class="form-control"
                      name="totalDays"
                      [(ngModel)]="reservedDetails.totalDays"
                      required
                      #totalDays="ngModel"
                    />
                    @if(totalDays?.errors?.['required'] && totalDays?.touched) {
                    <div class="errorMessage">Total Days is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Quantity</label>
                    <input
                      [readonly]="!isEditForm"
                      type="number"
                      class="form-control"
                      name="quantity"
                      [(ngModel)]="reservedDetails.quantity"
                      required
                      #quantity="ngModel"
                    />
                    @if(quantity?.errors?.['required'] && quantity?.touched) {
                    <div class="errorMessage">Quantity is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Company Rate</label>
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control"
                      name="companyRate"
                      [(ngModel)]="reservedDetails.companyRate"
                      required
                      #companyRate="ngModel"
                    />
                    @if(companyRate?.errors?.['required'] &&
                    companyRate?.touched) {
                    <div class="errorMessage">Company Rate is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Vendor Rate</label>
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control"
                      name="vendorRate"
                      [(ngModel)]="reservedDetails.vendorRate"
                      required
                      #vendorRate="ngModel"
                    />
                    @if(vendorRate?.errors?.['required'] && vendorRate?.touched)
                    {
                    <div class="errorMessage">Vendor Rate is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Total Delivery</label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control"
                      name="deliveryToCompany"
                      [(ngModel)]="reservedDetails.deliveryToCompany"
                      required
                      #deliveryToCompany="ngModel"
                    />
                    @if(deliveryToCompany?.errors?.['required'] &&
                    deliveryToCompany?.touched) {
                    <div class="errorMessage">Total Delivery</div>
                    }
                  </div>
                </div>

                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Delivery To Vendor</label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control"
                      name="deliveryToVendor"
                      [(ngModel)]="reservedDetails.deliveryToVendor"
                      required
                      #deliveryToVendor="ngModel"
                    />
                    @if(deliveryToVendor?.errors?.['required'] &&
                    deliveryToVendor?.touched) {
                    <div class="errorMessage">
                      Delivery To Vendor is required
                    </div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Booking Amount</label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="number"
                      class="form-control"
                      name="bookingAmount"
                      [(ngModel)]="reservedDetails.bookingAmount"
                      required
                      #bookingAmount="ngModel"
                    />
                    @if(bookingAmount?.errors?.['required'] &&
                    bookingAmount?.touched) {
                    <div class="errorMessage">Booking Amount is required</div>
                    }
                  </div>
                </div>

                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Balance Amount</label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="number"
                      class="form-control"
                      name="balanceAmount"
                      [(ngModel)]="reservedDetails.balanceAmount"
                      required
                      #balanceAmount="ngModel"
                    />
                    @if(balanceAmount?.errors?.['required'] &&
                    balanceAmount?.touched) {
                    <div class="errorMessage">Balance Amount is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Total Amount</label>
                    <input
                      [readonly]="!isEditForm"
                      type="number"
                      class="form-control"
                      name="totalAmount"
                      [(ngModel)]="reservedDetails.totalAmount"
                      required
                      #totalAmount="ngModel"
                    />
                    @if(totalAmount?.errors?.['required'] &&
                    totalAmount?.touched) {
                    <div class="errorMessage">Total Amount is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Security Amount</label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="number"
                      class="form-control"
                      name="securityAmount"
                      [(ngModel)]="reservedDetails.securityAmount"
                      required
                      #securityAmount="ngModel"
                    />
                    @if(securityAmount?.errors?.['required'] &&
                    securityAmount?.touched) {
                    <div class="errorMessage">Security Amount is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-2 col-md-2">
                  <label class="form-label requiredField">Pay to Vendor</label>
                  <input
                    [readonly]="!isEditForm"
                    type="text"
                    class="form-control"
                    name="payToVendor"
                    [(ngModel)]="reservedDetails.payToVendor"
                    required
                    #payToVendor="ngModel"
                  />
                  @if(payToVendor?.errors?.['required'] && payToVendor?.touched)
                  {
                  <div class="errorMessage">Pay to Vendor is required</div>
                  }
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField"
                      >Pay To Company</label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control"
                      name="payToCompany"
                      [(ngModel)]="reservedDetails.payToCompany"
                      required
                      #payToCompany="ngModel"
                    />
                    @if(payToCompany?.errors?.['required'] &&
                    payToCompany?.touched) {
                    <div class="errorMessage">Pay To Company is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Lead Origine</label>
                    <!-- <input [readonly]="!isEditForm" type="text" class="form-control" name="leadOrigine" [(ngModel)]="reservedDetails.leadOrigine" required
                      #leadOrigine="ngModel" />
                    @if(leadOrigine?.errors?.['required'] && leadOrigine?.touched) {
                    <div class="errorMessage">Lead Origine is required</div>
                    } -->
                    <mat-select
                      name="leadOrigine"
                      [(ngModel)]="reservedDetails.leadOrigine"
                      class="select"
                      placeholder="Select Lead Origine"
                    >
                      @for (listData of leadOrigine; track listData) {
                      <mat-option [value]="listData.name">
                        {{ listData.name }}
                      </mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Lead Type</label>
                    <!-- <input [readonly]="!isEditForm" type="text" class="form-control" name="leadType" [(ngModel)]="reservedDetails.leadType" required
                      #leadType="ngModel" />
                    @if(leadType?.errors?.['required'] && leadType?.touched) {
                    <div class="errorMessage">Lead Type is required</div>
                    } -->
                    <mat-select
                      name="leadType"
                      [(ngModel)]="reservedDetails.leadType"
                      class="select"
                      placeholder="Select Lead Type"
                    >
                      @for (listData of leadType; track listData) {
                      <mat-option [value]="listData.name">
                        {{ listData.name }}
                      </mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label requiredField">Created By</label>
                    <!-- <input [readonly]="!isEditForm" type="text" class="form-control" name="createdBy" [(ngModel)]="reservedDetails.createdBy"
                      #createdBy="ngModel" />
                    @if(createdBy?.errors?.['required'] && createdBy?.touched) {
                    <div class="errorMessage">Created By is required</div>
                    } -->
                    @if(roleType === 'SUPERADMIN') {
                    <mat-select
                      [(ngModel)]="reservedDetails.createdBy"
                      class="select custom-mat-select"
                      name="createdBy"
                      placeholder="Select Agent Name"
                      #createdBy="ngModel"
                    >
                      <mat-option *ngFor="let user of userList" [value]="user">
                        {{ user.firstName }}
                      </mat-option>
                    </mat-select>
                    @if(createdBy?.errors?.['required'] && createdBy?.touched) {
                    <div class="errorMessage">Created By is required</div>
                    } } @else {
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control"
                      name="createdBy"
                      [(ngModel)]="reservedDetails.createdBy"
                      #createdBy="ngModel"
                      readonly
                    />
                    @if(createdBy?.errors?.['required'] && createdBy?.touched) {
                    <div class="errorMessage">Created By is required</div>
                    } }
                  </div>
                </div>
                <div class="col-lg-2 col-md-2">
                  <div class="mb-2">
                    <label class="form-label">Status</label>
                    <!-- <input [readonly]="!isEditForm" type="text" class="form-control" name="status" [(ngModel)]="reservedDetails.status" #status="ngModel" />
                    @if(status?.errors?.['required'] && status?.touched) {
                    <div class="errorMessage">status is required</div>
                    } -->
                    <mat-select
                      name="status"
                      [(ngModel)]="reservedDetails.status"
                      class="select"
                      placeholder="Select Status"
                    >
                      @for (listData of leadStatus; track listData) {
                      <mat-option [value]="listData.name">
                        {{ listData.name }}
                      </mat-option>
                      }
                    </mat-select>
                  </div>
                </div>
              </div>

              <div class="card-title-head">
                <h6>
                  <span><i class="feather icon-info feather-edit"></i></span
                  >Customer Details
                </h6>
              </div>
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <div class="mb-3">
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control bottom-border"
                      placeholder="Custome Name"
                      name="customerName"
                      [(ngModel)]="reservedDetails.customerName"
                      required
                      #customerName="ngModel"
                    />
                    @if(customerName?.errors?.['required'] &&
                    customerName?.touched) {
                    <div class="errorMessage">Customer Name is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-1 col-md-3">
                  <div class="mb-3">
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control bottom-border"
                      placeholder="Dial Code"
                      name="dialCode"
                      [(ngModel)]="reservedDetails.dialCode"
                      required
                      #dialCode="ngModel"
                    />
                    @if(dialCode?.errors?.['required'] && dialCode?.touched) {
                    <div class="errorMessage">Dial Code is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <div class="mb-3">
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control bottom-border"
                      placeholder="Mobile"
                      name="mobile"
                      [(ngModel)]="reservedDetails.mobile"
                      required
                      #mobile="ngModel"
                    />
                    @if(mobile?.errors?.['required'] && mobile?.touched) {
                    <div class="errorMessage">Customer Mobile is required</div>
                    }
                  </div>
                </div>
                <div class="col-lg-2 col-md-6">
                  <div class="mb-3">
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control bottom-border"
                      placeholder="Alternate Mobile"
                      name="alternateMobile"
                      [(ngModel)]="reservedDetails.alternateMobile"
                      #alternateMobile="ngModel"
                    />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="mb-3">
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      class="form-control bottom-border"
                      placeholder="Customer EmailId"
                      name="emailId"
                      [(ngModel)]="reservedDetails.emailId"
                      required
                      #emailId="ngModel"
                    />
                    @if(emailId?.errors?.['required'] && emailId?.touched) {
                    <div class="errorMessage">Customer EmailId is required</div>
                    }
                  </div>
                </div>
              </div>

              <div class="row remarks-box">
                <p></p>
                <div class="col-lg-4 col-md-4">
                  <div class="input-container">
                    <label for="reports"><b>Report: </b></label
                    >{{ reservedDetails.vendorRate }}
                  </div>
                  <div class="input-container">
                    <label for="delivery"><b>Delivery: </b></label
                    >{{ reservedDetails.deliveryToCompany }}
                  </div>
                  <div class="input-container">
                    <label for="remarks" class="requiredField"
                      ><b>Remarks:</b></label
                    >
                    <input
                      [readonly]="!isEditForm"
                      type="text"
                      id="remarks"
                      class="form-control no-border"
                      placeholder=" Write Remarks..."
                      name="remarks"
                      [(ngModel)]="reservedDetails.remarks"
                      required
                      #remarks="ngModel"
                    />
                    @if(remarks?.errors?.['required'] && remarks?.touched) {
                    <div class="errorMessage">Remarks is required</div>
                    }
                  </div>
                  <div class="input-container">
                    <label for="pay-to-vendor"><b>Pay to vendor:</b></label
                    >{{ reservedDetails.payToVendor }}
                  </div>
                  <div class="input-container">
                    <label for="pay-to-company"><b>Pay to company:</b></label>
                    {{ reservedDetails.payToCompany }}
                    <!-- <input [readonly]="!isEditForm" type="text" id="pay-to-company" class="form-control no-border" placeholder="Pay to company" name="emailId" [(ngModel)]="reservedDetails.emailId" required> -->
                  </div>
                </div>

                <div class="col-lg-4 col-md-4 vl">
                  <input
                    [readonly]="!isEditForm"
                    class="form-check-input"
                    type="radio"
                    name="companyName"
                    [(ngModel)]="reservedDetails.companyName"
                    value="Notes"
                    id="notes1"
                    checked
                  />
                  <label
                    class="form-check-label"
                    for="notes1"
                    style="margin-right: 20px; margin-left: 20px"
                  >
                    Notes
                  </label>
                  <input
                    [readonly]="!isEditForm"
                    class="form-check-input"
                    type="radio"
                    name="companyName"
                    [(ngModel)]="reservedDetails.companyName"
                    value="Reminders"
                    id="notes2"
                  />
                  <label
                    class="form-check-label"
                    for="notes2"
                    style="margin-left: 20px"
                  >
                    Reminders
                  </label>

                  <div *ngIf="reservedDetails.companyName === 'Notes'">
                    <textarea
                      class="form-control no-border"
                      name="notes"
                      [(ngModel)]="reservedDetails.notes"
                      rows="4"
                      placeholder="___________________________________________________________________________________________________________________________________________________________________________________________________________"
                    ></textarea>
                  </div>
                  <P></P>
                  <div *ngIf="reservedDetails.companyName === 'Reminders'">
                    <input
                      [readonly]="!isEditForm"
                      type="datetime-local"
                      class="form-control"
                      name="reminderDate"
                      [(ngModel)]="reservedDetails.reminderDate"
                      required
                      #reminderDate="ngModel"
                    />
                    @if(reminderDate?.errors?.['required'] &&
                    reminderDate?.touched) {
                    <div class="errorMessage">Reminder Date is required</div>
                    }
                    <textarea
                      class="form-control no-border"
                      name="notes"
                      [(ngModel)]="reservedDetails.notes"
                      rows="2"
                      placeholder="___________________________________________________________________________________________"
                    ></textarea>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 vl">
                  <h4>Records</h4>
                  <textarea
                    class="form-control no-border"
                    name="records"
                    [(ngModel)]="reservedDetails.records"
                    rows="4"
                    placeholder="No Records Found"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <!-- <mat-dialog-actions class="dialogAction">
      <div class="text-end mb-3">
        <button
          type="submit"
          class="btn btn-submit"
          [disabled]="!editForm.form.valid"
        >
          Update Category Type
        </button>
      </div>
    </mat-dialog-actions> -->
  </form>
  <div class="modalFooterContainer">
    <button
      type="submit"
      class="btn btn-submit"
      (click)="updateReservedDetails()"
    >
      Save Reserved Details
    </button>
  </div>
</ng-template>
