.text-mid{
    margin-left: 45%;
}

.remarks-box {
    width: 100%;    
    height: 160px;
    padding: 1px;
    border: 3px solid rgb(247, 246, 246);
    margin: 0;
  }

  .vl {
    padding: 10px;
    border-left: 3px solid rgb(198, 203, 198);
    height: 140px;
  }

  .no-border {
    border: none;
  }

  .bottom-border {
    border: none;
    border-bottom: 1px solid #c4c0c0; /* Adjust thickness and color as needed */
  }