 <!-- <div class="page-header"> 
     <div class="add-item d-flex">
        <div class="page-title">
            <h4>New Lead</h4>
            <h6>Create new Lead</h6>
            
        </div>
    </div> 

     <ul class="table-top-head">
        <li>
            <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse"
                id="collapse-header" matTooltip="Collapse" matTooltipPosition="above"> @if (!isCollapsed) {
                <i class="feather icon-chevron-up feather-chevron-up"></i>
                }
                @if (isCollapsed) {
                <i class="feather icon-chevron-down feather-chevron-down"></i>
                }</a>
        </li>
    </ul> 
 </div>  -->

<p-toast></p-toast>

<div class="row">
    <div class="col-lg-5 col-md-5 form-check"></div>
    <div class="col-lg-1 col-md-1 form-check">
        <input type="radio" class="btn-check" name="formName" value="lead" id="lead" autocomplete="off" checked (change)="onSelectionChange($event)">
        <label class="btn" for="lead">New Lead</label>
    </div>
    <div class="col-lg-1 col-md-1 form-check">
        <input type="radio" class="btn-check" name="formName" value="info" id="info" autocomplete="off" (change)="onSelectionChange($event)">
        <label class="btn" for="info">Information</label>
    </div>
    <div class="col-lg-5 col-md-5 form-check"></div>
</div>



<div *ngIf="selectedOption === 'info'">

    <form #leadForm="ngForm" (ngSubmit)="submitLeadForm(leadForm)">
        <div class="card">
            <div class="card-body">
                <div class="new-employee-field">
                    <div class="card-title-head">
                        <h6><span><i class=" feather icon-info feather-edit"></i></span>Customer Details</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Custome Name</label>
                                <input type="text" class="form-control" name="customeName" [(ngModel)]="lead.customeName"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1">
                            <div class="mb-3">
                                <label class="form-label">Dial Code</label>
                                <input type="text" class="form-control" name="countryDialCode"
                                    [(ngModel)]="lead.countryDialCode" required>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="mb-3">
                                <label class="form-label">Customer Mobile</label>
                                <input type="text" class="form-control" name="customerMobile"
                                    [(ngModel)]="lead.customerMobile" required>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Customer EmailId</label>
                                <input type="text" class="form-control" name="customerEmailId"
                                    [(ngModel)]="lead.customerEmailId" required>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div class="text-mid mb-3">
            <!-- <button type="submit" class="btn btn-submit" [disabled]="!leadForm.form.valid">Save User</button> -->
            <button type="submit" class="btn btn-submit">Save Info</button>
        </div>
    </form>

</div>

<!-- //////////////////////////////////////////////////////////// -->

<div *ngIf="selectedOption === 'lead'">
    <form #leadForm="ngForm" (ngSubmit)="submitLeadForm(leadForm)">
        <div class="card">
            <div class="card-body">
                <div class="new-employee-field">
                    
                    <table class="center-table">
                        <tr>
                            <td>
                                <input class="form-check-input" type="radio" name="companyName" [(ngModel)]="lead.companyName" value="Vehicle" id="companyName1" checked>
                                <label class="form-check-label" for="companyName1">
                                     Goa
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="radio" name="companyName" [(ngModel)]="lead.companyName" value="Other" id="companyName2">
                                <label class="form-check-label" for="companyName2">
                                     Other
                                </label>
                            </td>
                        </tr>
                        <!-- <tr><td></td></tr> -->
                        <tr>
                            <td>
                                <input type="radio" class="btn-check" name="formName" value="Vehicle" id="Vehicle" autocomplete="off" checked (change)="onSelectionChange($event)">
                                <label class="btn" for="Vehicle">Vehicle</label>
                            </td>
                            <td>
                                <input type="radio" class="btn-check" name="formName" value="addServices" id="addServices" autocomplete="off" (change)="onSelectionChange($event)">
                                <label class="btn" for="addServices">Add. Services</label>
                            </td>
                        </tr>
                    </table>
                    


                    <!-- <table class="center-table">
                        <tr>
                            <td>
                                <input type="radio" class="btn-check" name="formName" value="lead" id="lead" autocomplete="off" checked (change)="onSelectionChange($event)">
                                <label class="btn" for="lead">New Lead</label>
                            </td>
                            <td>
                                <input type="radio" class="btn-check" name="formName" value="info" id="info" autocomplete="off" (change)="onSelectionChange($event)">
                                <label class="btn" for="info">Information</label>
                            </td>
                        </tr>
                    </table> -->

                    
                    <br>

                    <div class="row">
                        <div class="col-lg-5 col-md-6"></div>
                        <div class="col-lg-2 col-md-6">
                            <div class="mb-3">
                                <!-- <label class="form-label">Super Category</label> -->
                                <mat-select [(ngModel)]="selectedValue11" [ngModelOptions]="{standalone: true}"
                                class="select custom-mat-select" placeholder="Car">
                                @for (data of selectedList1; track data) {
                                <mat-option [value]="data.value">
                                  {{data.value}}
                                </mat-option>
                                }
                              </mat-select>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-6"></div>
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <!-- <label class="form-label">Super Category</label> -->
                                <mat-select [(ngModel)]="selectedValue11" [ngModelOptions]="{standalone: true}"
                                class="select custom-mat-select" placeholder="Vehicle Name">
                                @for (data of selectedList2; track data) {
                                <mat-option [value]="data.value">
                                  {{data.value}}
                                </mat-option>
                                }
                              </mat-select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <!-- <label class="form-label">Super Category</label> -->
                                <mat-select [(ngModel)]="selectedValue11" [ngModelOptions]="{standalone: true}"
                                class="select custom-mat-select" placeholder="Select Vehicle Details Type">
                                @for (data of selectedList3; track data) {
                                <mat-option [value]="data.value">
                                  {{data.value}}
                                </mat-option>
                                }
                              </mat-select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Pickup Date & Time</label>
                                <input type="datetime-local" class="form-control" name="pickupDateTime"
                                    [(ngModel)]="lead.pickupDateTime" required>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Pickup Location</label>
                                <input type="text" class="form-control" name="pickupLocation"
                                    [(ngModel)]="lead.pickupLocation" required>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Drop Date & Time</label>
                                <input type="datetime-local" class="form-control" name="dropDateTime"[(ngModel)]="lead.dropDateTime" required>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Drop Location</label>
                                <input type="text" class="form-control" name="dropLocation" [(ngModel)]="lead.dropLocation"
                                    required>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Quantity</label>
                                <input type="number" class="form-control" name="quantity" [(ngModel)]="lead.quantity"
                                    required>
                            </div>
                        </div>
    
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Vendor Amount</label>
                                <input type="text" class="form-control" name="vendorAmount" [(ngModel)]="lead.vendorAmount"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Vendor Amount</label>
                                <input type="text" class="form-control" name="vendorAmount" [(ngModel)]="lead.vendorAmount"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Sell Amount</label>
                                <input type="text" class="form-control" name="sellAmount" [(ngModel)]="lead.sellAmount"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Booking Amount</label>
                                <input type="number" class="form-control" name="bookingAmount"
                                    [(ngModel)]="lead.bookingAmount" required>
                            </div>
                        </div>
    
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Balance Amount</label>
                                <input type="number" class="form-control" name="balanceAmount"
                                    [(ngModel)]="lead.balanceAmount" required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Total Amount</label>
                                <input type="number" class="form-control" name="totalAmount" [(ngModel)]="lead.totalAmount"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Security Amount</label>
                                <input type="number" class="form-control" name="securityAmount"
                                    [(ngModel)]="lead.securityAmount" required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-md-2"></div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Booking Amount</label>
                                <input type="number" class="form-control" name="bookingAmount"
                                    [(ngModel)]="lead.bookingAmount" required>
                            </div>
                        </div>
    
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Balance Amount</label>
                                <input type="number" class="form-control" name="balanceAmount"
                                    [(ngModel)]="lead.balanceAmount" required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Status</label>
                                <input type="text" class="form-control" name="status" [(ngModel)]="lead.status" required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="mb-2">
                                <label class="form-label">Created By</label>
                                <input type="text" class="form-control" name="createdBy" [(ngModel)]="lead.createdBy" required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2"></div>
                    </div>

                    <div class="card-title-head">
                        <h6><span><i class=" feather icon-info feather-edit"></i></span>Customer Details</h6>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="mb-3">
                                <!-- <label class="form-label">Custome Name</label> -->
                                <input type="text" class="form-control bottom-border" placeholder="Custome Name" name="customeName" [(ngModel)]="lead.customeName"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-3">
                            <div class="mb-3">
                                <!-- <label class="form-label">Dial Code</label> -->
                                <input type="text" class="form-control bottom-border" placeholder="Dial Code" name="countryDialCode"
                                    [(ngModel)]="lead.countryDialCode" required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="mb-3">
                                <!-- <label class="form-label">Customer Mobile</label> -->
                                <input type="text" class="form-control bottom-border" placeholder="Mobile" name="customerMobile"
                                    [(ngModel)]="lead.customerMobile" required>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <div class="mb-3">
                                <!-- <label class="form-label">Customer Mobile</label> -->
                                <input type="text" class="form-control bottom-border" placeholder="Alternate Mobile" name="customerAlternateMobile"
                                    [(ngModel)]="lead.customerAlternateMobile" required>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                <!-- <label class="form-label">Customer EmailId</label> -->
                                <input type="text" class="form-control bottom-border" placeholder="Customer EmailId" name="customerEmailId"
                                    [(ngModel)]="lead.customerEmailId" required>
                            </div>
                        </div>
                    </div>

                    <div class="row remarks-box">
                        
                        <div class="col-lg-4 col-md-4">
                            <textarea class="form-control no-border" name="preValue" [(ngModel)]="lead.preValue" rows="5" placeholder="Enter your notes here..."></textarea>
                        </div>

                        <div class="col-lg-4 col-md-4 vl">
                            <input class="form-check-input" type="radio" name="companyName" [(ngModel)]="lead.companyName" value="Notes" id="notes1" checked>
                            <label class="form-check-label" for="notes1" style="margin-right: 20px; margin-left: 20px;">
                              Notes
                            </label>
                            <input class="form-check-input" type="radio" name="companyName" [(ngModel)]="lead.companyName" value="Reminders" id="notes2">
                            <label class="form-check-label" for="notes2" style="margin-left: 20px;">
                              Reminders
                            </label>
                          
                            <div *ngIf="lead.companyName === 'Notes'">
                              <textarea class="form-control no-border" name="notes" [(ngModel)]="lead.notes" rows="4" placeholder="__________________________________________________________________________________________________________________________________________________________________________________________________________"></textarea>
                            </div>
                          <P></P>
                            <div *ngIf="lead.companyName === 'Reminders'">
                              <input type="date" class="form-control" name="reminderDate" [(ngModel)]="lead.dropDateTime" required>
                            </div>
                          </div>
                        <div class="col-lg-4 col-md-4 vl">
                            <h4>Records</h4>
                            <textarea class="form-control no-border" name="records" [(ngModel)]="lead.records" rows="4" placeholder="No Records Found"></textarea>
                        </div>

                        
                    </div>
    
                    <!-- <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Notes</label>
                                <textarea class="form-control" name="notes" [(ngModel)]="lead.notes" rows="4"
                                    placeholder="Enter your notes here..."></textarea>
                            </div>
                        </div>
                    </div> -->
    
                </div>
            </div>
        </div>
    
        <div class="text-mid mb-3">
            <!-- <button type="submit" class="btn btn-submit" [disabled]="!leadForm.form.valid">Save User</button> -->
            <button type="submit" class="btn btn-submit">Save Lead</button>
        </div>
    </form>
</div>


