<!-- <div class="page-header"> 
     <div class="add-item d-flex">
        <div class="page-title">
            <h4>New Lead</h4>
            <h6>Create new Lead</h6>
            
        </div>
    </div> 

     <ul class="table-top-head">
        <li>
            <a (click)="toggleCollapse()" data-bs-toggle="tooltip" data-bs-placement="top" title="Collapse"
                id="collapse-header" matTooltip="Collapse" matTooltipPosition="above"> @if (!isCollapsed) {
                <i class="feather icon-chevron-up feather-chevron-up"></i>
                }
                @if (isCollapsed) {
                <i class="feather icon-chevron-down feather-chevron-down"></i>
                }</a>
        </li>
    </ul> 
 </div>  -->

<p-toast></p-toast>

<div class="row">
  <div class="col-lg-5 col-md-5 form-check"></div>
  <div class="col-lg-1 col-md-1 form-check">
    <input type="radio" class="btn-check" name="formName" value="lead" id="lead" autocomplete="off" checked
      (change)="onSelectionChange($event)" />
    <label class="btn" for="lead">New Lead</label>
  </div>
  <div class="col-lg-1 col-md-1 form-check">
    <input type="radio" class="btn-check" name="formName" value="info" id="info" autocomplete="off"
      (change)="onSelectionChange($event)" />
    <label class="btn" for="info">Information</label>
  </div>
  <div class="col-lg-5 col-md-5 form-check"></div>
</div>

<div *ngIf="selectedOption === 'info'">
  <form #leadForm="ngForm" (ngSubmit)="submitLeadForm(leadForm)">
    <div class="card">
      <div class="card-body">
        <div class="new-employee-field">
          <div class="card-title-head">
            <h6>
              <span><i class="feather icon-info feather-edit"></i></span>Customer Details
            </h6>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="mb-3">
                <label class="form-label requiredField">Customer Name</label>
                <input type="text" class="form-control" name="customeName" [(ngModel)]="lead.customeName" required
                  #customeName="ngModel" />
                @if(customeName?.errors?.['required'] && customeName?.touched) {
                <div class="errorMessage">Customer Name is required</div>
                }
              </div>
            </div>
            <div class="col-lg-1 col-md-1">
              <div class="mb-3">
                <label class="form-label requiredField">Dial Code</label>
                <input type="text" class="form-control" name="countryDialCode" [(ngModel)]="lead.countryDialCode"
                  required #countryDialCode="ngModel" />
                @if(countryDialCode?.errors?.['required'] && countryDialCode?.touched) {
                <div class="errorMessage">Dial Code is required</div>
                }
              </div>
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="mb-3">
                <label class="form-label requiredField">Customer Mobile</label>
                <input type="text" class="form-control" name="customerMobile" [(ngModel)]="lead.customerMobile" required
                  #customerMobile="ngModel" />
                @if(customerMobile?.errors?.['required'] && customerMobile?.touched) {
                <div class="errorMessage">Customer Mobile is required</div>
                }
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="mb-3">
                <label class="form-label requiredField">Customer EmailId</label>
                <input type="text" class="form-control" name="customerEmailId" [(ngModel)]="lead.customerEmailId"
                  required #customerEmailId="ngModel" />
                @if(customerEmailId?.errors?.['required'] && customerEmailId?.touched) {
                <div class="errorMessage">Customer EmailId is required</div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-mid mb-3">
      <button type="submit" class="btn btn-submit">Save Info</button>
    </div>
  </form>
</div>

<!-- //////////////////////////////////////////////////////////// -->

<div *ngIf="selectedOption === 'lead'">
  <form #leadForm="ngForm" (ngSubmit)="submitLeadForm(leadForm)">
    <div class="card">
      <div class="card-body">
        <div class="new-employee-field">
          <table class="center-table">
            <!-- <tr>
                            <td>
                                <input class="form-check-input" type="radio" name="companyName" [(ngModel)]="lead.companyName" value="Vehicle" id="companyName1" checked>
                                <label class="form-check-label" for="companyName1">
                                     Goa
                                </label>
                            </td>
                            <td>
                                <input class="form-check-input" type="radio" name="companyName" [(ngModel)]="lead.companyName" value="Other" id="companyName2">
                                <label class="form-check-label" for="companyName2">
                                     Other
                                </label>
                            </td>
                        </tr> -->

            <tr>
            </tr>
          </table>

          <br />

          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="form-label requiredField">Category Type</label>
                <mat-select [(ngModel)]="lead.categoryTypeId" class="select" name="categoryTypeId"
                  placeholder="Select Category Type" (selectionChange)="getSuperCategory($event.value)" required
                  #categoryTypeId="ngModel">
                  <mat-option *ngFor="let cateType of categoryTypeList" [value]="cateType">
                    {{ cateType.categoryTypeName }}
                  </mat-option>
                </mat-select>
                @if(categoryTypeId?.errors?.['required'] && categoryTypeId?.touched) {
                <div class="errorMessage">Category Type is required</div>
                }
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="form-label requiredField">Super Category</label>
                <mat-select [(ngModel)]="lead.superCategoryId" class="select custom-mat-select" name="superCategoryId"
                  placeholder="Select a Super Category" (selectionChange)="getCategory($event.value)" required
                  #superCategoryId="ngModel">
                  <mat-option *ngFor="let supCate of superCategoryList" [value]="supCate">
                    {{ supCate.superCategory }}
                  </mat-option>
                </mat-select>
                @if(superCategoryId?.errors?.['required'] && superCategoryId?.touched) {
                <div class="errorMessage">Super Category is required</div>
                }
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="form-label requiredField">Category</label>
                <mat-select [(ngModel)]="lead.categoryId" class="select custom-mat-select" name="categoryId"
                  placeholder="Select a Category" (selectionChange)="getSubCategory($event.value)" required
                  #categoryId="ngModel">
                  <mat-option *ngFor="let cate of categoryList" [value]="cate">
                    {{ cate.category }}
                  </mat-option>
                </mat-select>
                @if(categoryId?.errors?.['required'] && categoryId?.touched) {
                <div class="errorMessage">Category is required</div>
                }
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="mb-3">
                <label class="form-label requiredField">Sub Category</label>
                <mat-select [(ngModel)]="lead.subCategoryId" class="select custom-mat-select" name="subCategoryId"
                  placeholder="Select a Sub Category" required #subCategoryId="ngModel">
                  <mat-option *ngFor="let subCate of subCategoryList" [value]="subCate">
                    {{ subCate.subCategory }}
                  </mat-option>
                </mat-select>
                @if(subCategoryId?.errors?.['required'] && subCategoryId?.touched) {
                <div class="errorMessage">Sub Category is required</div>
                }
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Pickup Date & Time</label>
                <input type="datetime-local" class="form-control" name="pickupDateTime"
                  [(ngModel)]="lead.pickupDateTime" required #pickupDateTime="ngModel" />
                @if(pickupDateTime?.errors?.['required'] && pickupDateTime?.touched) {
                <div class="errorMessage">Pickup Date & Time is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Pickup Location</label>
                <input type="text" class="form-control" name="pickupLocation" [(ngModel)]="lead.pickupLocation" required
                  #pickupLocation="ngModel" />
                @if(pickupLocation?.errors?.['required'] && pickupLocation?.touched) {
                <div class="errorMessage">Pickup Location is required</div>
                }
              </div>
            </div>

            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Pickup Point</label>
                <input type="text" class="form-control" name="pickupPoint" [(ngModel)]="lead.pickupPoint" required
                  #pickupLocation="ngModel" />
                @if(pickupLocation?.errors?.['required'] && pickupLocation?.touched) {
                <div class="errorMessage">Pickup Point is required</div>
                }
              </div>
            </div>

            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Drop Date & Time</label>
                <input type="datetime-local" class="form-control" name="dropDateTime" [(ngModel)]="lead.dropDateTime"
                  required #dropDateTime="ngModel" />
                @if(dropDateTime?.errors?.['required'] && dropDateTime?.touched) {
                <div class="errorMessage">Drop Date & Time is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Drop Location</label>
                <input type="text" class="form-control" name="dropLocation" [(ngModel)]="lead.dropLocation" required
                  #dropLocation="ngModel" />
                @if(dropLocation?.errors?.['required'] && dropLocation?.touched) {
                <div class="errorMessage">Drop Location is required</div>
                }
              </div>
            </div>

            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Drop Point</label>
                <input type="text" class="form-control" name="dropPoint" [(ngModel)]="lead.dropPoint" required
                  #dropLocation="ngModel" />
                @if(dropLocation?.errors?.['required'] && dropLocation?.touched) {
                <div class="errorMessage">Drop Location is required</div>
                }
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Total Days</label>
                <input type="number" class="form-control" name="totalDays" [(ngModel)]="lead.totalDays" required
                  #totalDays="ngModel" />
                @if(totalDays?.errors?.['required'] && totalDays?.touched) {
                <div class="errorMessage">Total Days is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Quantity</label>
                <input type="number" class="form-control" name="quantity" [(ngModel)]="lead.quantity" required
                  #quantity="ngModel" />
                @if(quantity?.errors?.['required'] && quantity?.touched) {
                <div class="errorMessage">Quantity is required</div>
                }
              </div>
            </div>

            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Company Rate</label>
                <input type="text" class="form-control" name="companyRate" [(ngModel)]="lead.companyRate" required
                  #companyRate="ngModel" />
                @if(companyRate?.errors?.['required'] && companyRate?.touched) {
                <div class="errorMessage">Company Rate is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Vendor Rate</label>
                <input type="text" class="form-control" name="vendorRate" [(ngModel)]="lead.vendorRate" required
                  #vendorRate="ngModel" />
                @if(vendorRate?.errors?.['required'] && vendorRate?.touched) {
                <div class="errorMessage">Vendor Rate is required</div>
                }
              </div>
            </div>

            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Total Delivery</label>
                <input type="text" class="form-control" name="deliveryAmountToCompany"
                  [(ngModel)]="lead.deliveryAmountToCompany" required #deliveryAmountToCompany="ngModel" />
                @if(deliveryAmountToCompany?.errors?.['required'] && deliveryAmountToCompany?.touched) {
                <div class="errorMessage">Total Delivery</div>
                }
              </div>
            </div>

            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Delivery To Vendor</label>
                <input type="text" class="form-control" name="deliveryAmountToVendor"
                  [(ngModel)]="lead.deliveryAmountToVendor" required #deliveryAmountToVendor="ngModel" />
                @if(deliveryAmountToVendor?.errors?.['required'] && deliveryAmountToVendor?.touched) {
                <div class="errorMessage">Delivery To Vendor is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2"></div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Booking Amount</label>
                <input type="number" class="form-control" name="bookingAmount" [(ngModel)]="lead.bookingAmount" required
                  #bookingAmount="ngModel" />
                @if(bookingAmount?.errors?.['required'] && bookingAmount?.touched) {
                <div class="errorMessage">Booking Amount is required</div>
                }
              </div>
            </div>

            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Balance Amount</label>
                <input type="number" class="form-control" name="balanceAmount" [(ngModel)]="lead.balanceAmount" required
                  #balanceAmount="ngModel" />
                @if(balanceAmount?.errors?.['required'] && balanceAmount?.touched) {
                <div class="errorMessage">Balance Amount is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Total Amount</label>
                <input type="number" class="form-control" name="totalAmount" [(ngModel)]="lead.totalAmount" required
                  #totalAmount="ngModel" />
                @if(totalAmount?.errors?.['required'] && totalAmount?.touched) {
                <div class="errorMessage">Total Amount is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Security Amount</label>
                <input type="number" class="form-control" name="securityAmount" [(ngModel)]="lead.securityAmount"
                  required #securityAmount="ngModel" />
                @if(securityAmount?.errors?.['required'] && securityAmount?.touched) {
                <div class="errorMessage">Security Amount is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2"></div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-2 col-md-2">
              <label class="form-label requiredField">Pay to Vendor</label>
              <input type="text" class="form-control" name="payToVendor" [(ngModel)]="lead.payToVendor" required
                #payToVendor="ngModel" />
              @if(payToVendor?.errors?.['required'] && payToVendor?.touched) {
              <div class="errorMessage">Pay to Vendor is required</div>
              }
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Pay To Company</label>
                <input type="text" class="form-control" name="payToCompany" [(ngModel)]="lead.payToCompany" required
                  #payToCompany="ngModel" />
                @if(payToCompany?.errors?.['required'] && payToCompany?.touched) {
                <div class="errorMessage">Pay To Company is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Lead Origine</label>
                <!-- <input type="text" class="form-control" name="leadOrigine" [(ngModel)]="lead.leadOrigine" required
                  #leadOrigine="ngModel" />
                @if(leadOrigine?.errors?.['required'] && leadOrigine?.touched) {
                <div class="errorMessage">Lead Origine is required</div>
                } -->
                <mat-select name="leadOrigine" [(ngModel)]="lead.leadOrigine" class="select" placeholder="Select Lead Origine">
                  @for (listData of leadOrigine; track listData) {
                  <mat-option [value]="listData.name">
                    {{ listData.name }}
                  </mat-option>
                  }
                </mat-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label requiredField">Lead Type</label>
                <!-- <input type="text" class="form-control" name="leadType" [(ngModel)]="lead.leadType" required
                  #leadType="ngModel" />
                @if(leadType?.errors?.['required'] && leadType?.touched) {
                <div class="errorMessage">Lead Type is required</div>
                } -->
                <mat-select name="leadType" [(ngModel)]="lead.leadType" class="select" placeholder="Select Lead Type">
                  @for (listData of leadType; track listData) {
                  <mat-option [value]="listData.name">
                    {{ listData.name }}
                  </mat-option>
                  }
                </mat-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-2"></div>
          </div>

          <div class="row">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label">Created By</label>
                <!-- <input type="text" class="form-control" name="createdBy" [(ngModel)]="lead.createdBy"
                  #createdBy="ngModel" />
                @if(createdBy?.errors?.['required'] && createdBy?.touched) {
                <div class="errorMessage">Created By is required</div>
                } -->
                <mat-select [(ngModel)]="lead.createdBy" class="select custom-mat-select" name="createdBy"
                  placeholder="Select Agent Name"  required
                  #createdBy="ngModel">
                  <mat-option *ngFor="let user of userList" [value]="user">
                    {{ user.firstName }}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-lg-2 col-md-2">
              <div class="mb-2">
                <label class="form-label">Status</label>
                <!-- <input type="text" class="form-control" name="status" [(ngModel)]="lead.status" #status="ngModel" />
                @if(status?.errors?.['required'] && status?.touched) {
                <div class="errorMessage">status is required</div>
                } -->
                <mat-select name="status" [(ngModel)]="lead.status" class="select" placeholder="Select Status">
                  @for (listData of leadStatus; track listData) {
                  <mat-option [value]="listData.name">
                    {{ listData.name }}
                  </mat-option>
                  }
                </mat-select>
              </div>
            </div>
          </div>

          <div class="card-title-head">
            <h6>
              <span><i class="feather icon-info feather-edit"></i></span>Customer Details
            </h6>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <div class="mb-3">
                <input type="text" class="form-control bottom-border" placeholder="Custome Name" name="customeName"
                  [(ngModel)]="lead.customeName" required #customeName="ngModel" />
                @if(customeName?.errors?.['required'] && customeName?.touched) {
                <div class="errorMessage">Customer Name is required</div>
                }
              </div>
            </div>
            <div class="col-lg-1 col-md-3">
              <div class="mb-3">
                <input type="text" class="form-control bottom-border" placeholder="Dial Code" name="countryDialCode"
                  [(ngModel)]="lead.countryDialCode" required #countryDialCode="ngModel" />
                @if(customeName?.errors?.['required'] && customeName?.touched) {
                <div class="errorMessage">Dial Code is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="mb-3">
                <input type="text" class="form-control bottom-border" placeholder="Mobile" name="customerMobile"
                  [(ngModel)]="lead.customerMobile" required #customerMobile="ngModel" />
                @if(customerMobile?.errors?.['required'] && customerMobile?.touched) {
                <div class="errorMessage">Customer Mobile is required</div>
                }
              </div>
            </div>
            <div class="col-lg-2 col-md-6">
              <div class="mb-3">
                <input type="text" class="form-control bottom-border" placeholder="Alternate Mobile"
                  name="customerAlternateMobile" [(ngModel)]="lead.customerAlternateMobile"
                  #customerAlternateMobile="ngModel" />
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mb-3">
                <input type="text" class="form-control bottom-border" placeholder="Customer EmailId"
                  name="customerEmailId" [(ngModel)]="lead.customerEmailId" required #customerEmailId="ngModel" />
                @if(customerEmailId?.errors?.['required'] && customerEmailId?.touched) {
                <div class="errorMessage">Customer EmailId is required</div>
                }
              </div>
            </div>
          </div>

          <div class="row remarks-box">
            <p></p>
            <div class="col-lg-4 col-md-4">
              <div class="input-container">
                <label for="reports"><b>Report: </b></label>{{ lead.vendorRate }}
              </div>
              <div class="input-container">
                <label for="delivery"><b>Delivery: </b></label>{{ lead.deliveryAmountToCompany }}
              </div>
              <div class="input-container">
                <label for="remarks" class="requiredField"><b>Remarks:</b></label>
                <input type="text" id="remarks" class="form-control no-border" placeholder=" Write Remarks..."
                  name="remarks" [(ngModel)]="lead.remarks" required #remarks="ngModel" />
                @if(remarks?.errors?.['required'] && remarks?.touched) {
                <div class="errorMessage">Remarks is required</div>
                }
              </div>
              <div class="input-container">
                <label for="pay-to-vendor"><b>Pay to vendor:</b></label>{{ lead.payToVendor }}
              </div>
              <div class="input-container">
                <label for="pay-to-company"><b>Pay to company:</b></label>
                {{ lead.payToCompany }}
                <!-- <input type="text" id="pay-to-company" class="form-control no-border" placeholder="Pay to company" name="customerEmailId" [(ngModel)]="lead.customerEmailId" required> -->
              </div>
            </div>

            <div class="col-lg-4 col-md-4 vl">
              <input class="form-check-input" type="radio" name="companyName" [(ngModel)]="lead.companyName"
                value="Notes" id="notes1" checked />
              <label class="form-check-label" for="notes1" style="margin-right: 20px; margin-left: 20px">
                Notes
              </label>
              <input class="form-check-input" type="radio" name="companyName" [(ngModel)]="lead.companyName"
                value="Reminders" id="notes2" />
              <label class="form-check-label" for="notes2" style="margin-left: 20px">
                Reminders
              </label>

              <div *ngIf="lead.companyName === 'Notes'">
                <textarea class="form-control no-border" name="notes" [(ngModel)]="lead.notes" rows="4"
                  placeholder="___________________________________________________________________________________________________________________________________________________________________________________________________________"></textarea>
              </div>
              <P></P>
              <div *ngIf="lead.companyName === 'Reminders'">
                <input type="datetime-local" class="form-control" name="reminderDate"
                  [(ngModel)]="lead.followupDateTime" required #reminderDate="ngModel" />
                @if(reminderDate?.errors?.['required'] && reminderDate?.touched) {
                <div class="errorMessage">Reminder Date is required</div>
                }
                <textarea class="form-control no-border" name="notes" [(ngModel)]="lead.notes" rows="2"
                  placeholder="___________________________________________________________________________________________"></textarea>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 vl">
              <h4>Records</h4>
              <textarea class="form-control no-border" name="records" [(ngModel)]="lead.records" rows="4"
                placeholder="No Records Found"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="text-mid mb-3">
      <!-- <button type="submit" class="btn btn-submit" [disabled]="!leadForm.form.valid">Save User</button> -->
      <button type="submit" class="btn btn-submit">Save Lead</button>
    </div>
  </form>
</div>